

block content

	#login.center-vertical
		form.well(id='form-login', method='POST' action='/edit/'+user.id)
			h6 Update To Your Account
				label Username
				input.form-control(type='text', id='username', name='username' value=user.username)
				label Password
				input.form-control(type='password', id='password', name='password' value=user.password)
				button(type='submit') Update