h1 Welcome Home
 p hello #{user.username}
 title #{title}
 div 
 h1 Edit and Delete your Account
form(method='GET', action='/list')
     button(type='submit') Acounts
form(method='POST', action='/logout')
     button(type='submit') Logout






link(rel="stylesheet", href="/css/style.css")
link(rel="stylesheet", href='/vendor/jquery-2.2.3.min.js')
link(rel="stylesheet", href='/vendor/jquery.form.min.js')
link(rel="stylesheet", href='/vendor/bootstrap.min.css')
link(rel="stylesheet", href='/vendor/bootstrap.min.css.map')
link(rel="stylesheet", href='/vendor/bootstrap.min.js')